#!/usr/bin/make -f

%:
	dh $@

# CUPS decides whether to execute a backend as root or lp based on whether
# it's executable as lp or not.  The lpd backend (which we call from our
# backend) is mode 744, owned by root.  Therefore, we also need to be the
# same mode, so CUPS will execute our backend as root.
override_dh_fixperms:
	dh_fixperms
	chmod 744 debian/debathena-pharos-support/usr/lib/cups/backend/pharos
